/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <corne_v2_5col_transform.dtsi> //#include "corne_v2_5col_transform.dtsi"

//#define AS(keycode) &as LS(keycode) keycode

/ {
    chosen {
        //zmk,physical-layout = &foostan_corne_5col_layout; // from the new version from tyeractive, tho seems to be for corne v4?
        zmk,matrix_transform = &corne_v2_5col_transform;
        //zmk,matrix_transform = &five_column_transform; // old style, doesn't compile anymore
    };

    behaviors {
/*
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
*/
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I   |  O   | P |
// |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K   |  L   | ' | 
// |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   | CTRL | META | . |
//             | GUI | LWR | SPC |     | ENT | RSE  | BSPC |
                        display-name = "Dvorak";
                        bindings = <
  &mt LALT SQT         &kp COMMA  &kp DOT       &kp P           &kp Y              &kp F        &kp G             &kp C        &kp R  &kp L
  &kp A                &kp O      &kp E         &kp U           &kp I              &kp D        &kp H             &kp T        &kp N  &kp S
  &mt LCTRL SEMICOLON  &kp Q      &kp J         &kp K           &kp X              &kp B        &kp M             &kp W        &kp V  &mt RCTRL Z
                                  &mt LWIN TAB  &mt LSHIFT DEL  &lt 1 BACKSPACE    &lt 2 MINUS  &mt RSHIFT SPACE  &lt 3 ENTER
                        >;
                };

                nav_symb {
// -----------------------------------------------------------------------------------------
// | !     |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  |
// | BT1   | BT2 | BT3 | BT4 | BT5 |     | LFT | DWN |  UP | RGT |     |
// | BTCLR |     |     |     |     |     |     |     |     |     |     |
//               | GUI |     | SPC |     | ENT | ESC | TAB |
                        display-name = "NavSym";
                        bindings = <
  &lt 4 HOME    &kp PSCRN  &kp UP         &kp K_UNDO  &kp LC(X)    &none             &kp LPAR        &kp RPAR           &kp SLASH       &kp QMARK
  &mt LWIN END  &kp LEFT   &kp DOWN       &kp RIGHT   &kp LC(C)    &kp EQUAL         &mt RCTRL LBRC  &mt RSHFT RBRC     &mt RSHFT BSLH  &mt RCTRL PIPE
  &kp LCTRL     &kp LSHFT  &kp LALT       &kp LWIN    &kp LC(V)    &none             &mt LWIN LBKT   &mt RALT RBKT      &kp RSHFT       &mt LCTRL QMARK
                           &kp BACKSPACE  &kp ESC     &none        &kp LG(LS(LEFT))  &kp RWIN        &kp LS(LG(RIGHT))
                        >;
                };

                num_fn_audio {
// -----------------------------------------------------------------------------------------
// | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
// | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
// | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
//            | GUI | ESC | SPC |     | ENT |     | TAB |
                        display-name = "12FnAud"; //label
                        bindings = <

  &kp F1           &kp F2     &kp F3     &kp F4     &kp F5            &kp F6          &kp F7    &kp F8             &kp F9              &lt 4 F10
  &kp N1           &kp N2     &kp N3     &kp N4     &kp N5            &kp N6          &kp N7    &kp N8             &kp N9              &kp N0
  &mt LCTRL COLON  &kp LSHFT  &kp LALT   &kp MINUS  &mt LWIN SLASH    &mt LWIN ASTRK  &kp PLUS  &mt RALT C_VOL_DN  &mt RSHFT C_VOL_UP  &mt RCTRL C_MUTE
                              &kp COMMA  &kp DOT    &kp EQUAL         &none           &kp ESC   &kp ENTER
                        >;
                };

                firmware {
// -----------------------------------------------------------------------------------------
// | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
// | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
// | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
//            | GUI | ESC | SPC |     | ENT |     | TAB |
                        display-name = "firmware"; //label
                        bindings = <

  &none  &kp SCROLLLOCK  &kp KP_NUMLOCK  &kp CAPSLOCK  &none    &none  &kp KP_N7  &kp KP_N8    &kp KP_N9  &none
  &none  &none           &kp LALT        &none         &none    &none  &kp KP_N4  &kp KP_N5    &kp KP_N6  &none
  &none  &none           &none           &none         &none    &none  &kp KP_N1  &kp KP_N2    &kp KP_N3  &none
                         &bootloader     &none         &none    &none  &kp KP_N0  &bootloader
                        >;
                };

        };
};
